body {
  color: rgb(158, 36, 35);
  font-size: 20px;
  background-color: gold;
}

h1{
  color: grey;
  font-family: 'Sarala', sans-serif;
}

h2 {
  color: black;
  font-family: 'Aclonica', sans-serif;
}

p{
  fony-size 18px;
  color: black;
  font-family: 'Sarala', sans-serif;
}

header {
  color: brown;
  font-family: 'Aclonica', sans-serif;
  font-size: 20px
}

footer {
  font-size: 20px;
  font-family: 'Sarala', sans-serif;
section {
  color: brown;
  font-size: 20px
  font-family: 'Sarala', sans-serif;
}
