body {
  color: charcoal;
  font-size: 20px;
  background-color: rgb(212,175,55);
}

h1{
  color: black;
  font-family: 'Sarala', sans-serif;
}

h2 {
  color: black;
  font-family: 'Aclonica', sans-serif;
}

p{
  fony-size 18px;
  color: black;
  font-family: 'Sarala', sans-serif;
}

header {
  color: brown;
  font-family: 'Aclonica', sans-serif;
  font-size: 20px
}

footer {
  font-size: 20px;
  font-family: 'Sarala', sans-serif;
}

section {
  color: white;
  font-size: 20px
  font-family: 'Sarala', sans-serif;
}
