/* This is my Website */

* {
  font-size: 100%;
}

body {
  background-color: rgb(212,175,55);
  color: charcoal;
  font-size: 14px;
  font-family:Helvetica;
}

h1{
  color: black;
  font-family: 'Sarala', sans-serif;
  font-size: 36px;
}

h2 {
  color: black;
  font-family: 'Aclonica', sans-serif;
  /* font-size= 36px; */
}

h1, h2 {
  font-weight: bold;
  font-style: italic;
}

p{
  /* fony-size 18px; */
  color: black;
  font-family: 'Sarala', sans-serif;
}

header {
  color: brown;
  font-family: 'Aclonica', sans-serif;
  /* font-size: 20px */
}

footer {
  font-size: 20px;
  font-family: 'Sarala', sans-serif;
}

section {
  color: white;
  font-size: 20px
  font-family: 'Sarala', sans-serif;
}
